:root {
    --corDeFundo: #232323;
    --corDeTitulos: #ffffff;
    --corDeTextoNormal: #c9c9c9;
}

h1 {
    color: var(--corDeTitulos);
    font-weight: bolder;
    text-align: center;
    font-size: 3em;
}

h2, h3 {
    color: var(--corDeTitulos);
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}

h4, h5, h6 {
    color: var(--corDeTitulos);
    font-weight: bold;
    font-size: 1.5em;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--corDeFundo);
    color: #c9c9c9;
}

#paragrafo-miudo {
    font-size: small;
    text-align: right;
}

strong {
    font-weight: bold;
    color: #ac8402;
}

.paragrafo-do-SANES {
    color: magenta;
    font-family: 'Comic Sans MS', sans-serif;
    text-align: right;
}